In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from fractions import Fraction

# Dice

Different probabilities for rolling 1 or more dice

## D6

In [2]:
d6 = (pd.DataFrame([x for x in range(1, 7)], columns=["x"]))
d6

   x
0  1
1  2
2  3
3  4
4  5
5  6

## 2D6

In [3]:
d2_6 = (pd.DataFrame([(x, y) for x in range(1, 7) for y in range(1, 7)], columns=["x", "y"])
        .assign(total=lambda df: df["x"] + df["y"],
                highest=lambda df: np.where(df["x"] > df["y"], df["x"], df["y"]),
                lowest=lambda df: df["total"] - df["highest"]))
d2_6[:7]

   x  y  total  highest  lowest
0  1  1      2        1       1
1  1  2      3        2       1
2  1  3      4        3       1
3  1  4      5        4       1
4  1  5      6        5       1
5  1  6      7        6       1
6  2  1      3        2       1

## 3D6

In [4]:
d3_6 = (pd.DataFrame([(x, y, z) for x in range(1, 7) for y in range(1, 7) for z in range(1, 7)], columns=["x", "y", "z"])
        .assign(total=lambda df: df["x"] + df["y"] + df["z"],        
                highest=lambda df: np.max(np.array([df["x"], df["y"], df["z"]]), axis=0),
                lowest=lambda df: np.min(np.array([df["x"], df["y"], df["z"]]), axis=0),
                highest_2=lambda df: df["total"] - df["lowest"],
                lowest_2=lambda df: df["total"] - df["highest"]))
d3_6[:7]

   x  y  z  total  highest  lowest  highest_2  lowest_2
0  1  1  1      3        1       1          2         2
1  1  1  2      4        2       1          3         2
2  1  1  3      5        3       1          4         2
3  1  1  4      6        4       1          5         2
4  1  1  5      7        5       1          6         2
5  1  1  6      8        6       1          7         2
6  1  2  1      4        2       1          3         2

In [5]:
d6["x"].mean()

3.5

In [6]:
d2_6["highest"].mean()

4.472222222222222

In [7]:
d3_6["highest_2"].mean()

8.458333333333334

In [8]:
SAMPLES = 100000
rolls = stats.randint(1, 7).rvs((SAMPLES, 2)).sum(axis=1)
rerolls = stats.randint(1, 7).rvs((SAMPLES, 2)).sum(axis=1)
replacements = np.where(rolls > 7, rerolls, rolls)
replacements.mean()

6.03129